{% extends "layouts/base.html" %}

{% block title %} Body control {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <h1>Cam 0 (Integrada)</h1>
    <img src="{{ url_for('video_feed_0') }}" width="640" height="480" />

    <h1>Cam 1 (USB)</h1>
    <img src="{{ url_for('video_feed_1') }}" width="640" height="480" />

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
